@font-face {
    font-family: Epilogue Bold;
    src: url(./assets//fonts/Epilogue-Bold.ttf);
}
@font-face {
    font-family: Epilogue Medium;
    src: url(./assets/fonts/Epilogue-Medium.ttf);
}

@gray950: #151515;
@gray500: #686868;
@gray400: #ADADAD;
@gray200: #D8D8D8;
@gray50: #FAFAFA;
@blue400: #4BB1DA;
@violet500: #726CEE;
@yellow300: #EDD556;
@purple600: #8E4CB6;

.tp1 {
    font-family: Epilogue Bold;
    font-size: 80px;
    letter-spacing: -1px;
}
.tp2 {
    font-family: Epilogue Bold;
    font-size: 64px;
    letter-spacing: -1px;
}
.tp3 {
    font-family: Epilogue Bold;
    font-size: 36px;
    letter-spacing: -1px;
}
.tp4b {
    font-family: Epilogue Bold;
    font-size: 18px;
    line-height: 155%;
    letter-spacing: -0.25px;
}
.tp4m {
    font-family: Epilogue Medium;
    font-size: 18px;
    line-height: 155%;
}
.tp5b {
    font-family: Epilogue Bold;
    font-size: 16px;
    line-height: 155%;
    letter-spacing: -0.25px;
}
.tp5m {
    font-family: Epilogue Medium;
    font-size: 16px;
    line-height: 155%;
}
.tp6 {
    font-family: Epilogue Medium;
    font-size: 14px;
    line-height: 115%;
}